<h4 class="air-quality-aside__heading important-facts__item__heading">
  What is the air quality like near the fire?
</h4>
<h6 class="air-quality-aside__subheading important-facts__item__subheading">
  {{categoryName}}
</h6>
<div class="air-quality-aside__status important-facts__item__status">
  <div class="air-quality-aside__heading__status__description important-facts__item__status__description">
    {{categoryHeading}} {{!-- <a class="important-facts__item__link" href="#">Learn more</a> --}}
  </div>
</div>
<div class="air-quality-aside__note important-facts__item__note">
  Note: Air quality varies by location. To check the air quality in your neighborhood, <a href="https://www.airnow.gov/" target="_blank">click here</a>. 
</div>
