<img class="c-figure__img" src="{{src}}" style="background-image: url(/images/fallback.png); background-image: url({{src}});">
{{#if caption}}
  <figcaption class="c-figure__caption">
    {{caption}} {{#if attribution}}<span class="c-figure__attribution">{{attribution}}</span>{{/if}}
  </figcaption>
{{/if}}

