<a href="/" class="masthead-component__logo">
  <img src="/images/logo.svg">
</a>

<div class="masthead-component__spacer"></div>

<div class="masthead-component__timestamp">
  <span>Last updated: {{moment-format model.fire.updatedAt 'MM/DD/YYYY h:mm A'}}</span>
</div>

