<a href="/" class="masthead-component__logo">
  <img src="/images/logo.svg">
</a>

<div class="masthead-component__spacer"></div>

<div class="masthead-component__timestamp">
  <span>Last updated: 7/18/2017 8:44 A.M. PDT</span>
</div>

