<h6 class="featured-incidents__heading b-heading b-heading--h6 b-heading--medium b-text--uppercase b-text--color-gray">Fires we're following</h6>

{{featured-incident-card}}
{{featured-incident-card}}
{{featured-incident-card}}