<div class="featured-incident-card__thumbnail">
</div>
<div class="featured-incident-card__description">
  <h4 class="featured-incident-card__heading b-heading b-heading--h4 b-heading--medium b-heading--serif b-text--color-primary">Fire Name</h4>
  <h6 class="featured-incident-card__county b-heading b-heading--h6 b-text--uppercase b-text--color-gray">Santa Barbara County</h6>
  <span class="featured-incident-card__started featured-incident-card__stat">
    <span class="b-text--bold b-text--uppercase">Started:</span> Jul 10, 2017
  </span>
  <span class="featured-incident-card__acres featured-incident-card__stat">
    <span class="b-text--bold b-text--uppercase">Acres Burned:</span> 670
  </span>
  <span class="featured-incident-card__containment featured-incident-card__stat">
    <span class="b-text--bold b-text--uppercase">Containment:</span> 20%
  </span>
  <span class="featured-incident-card__location featured-incident-card__stat">
    Hwy 80 And State Boundary, 12 Miles Northeast of Truckee
  </span>
</div>

