<footer class="footer-component">
  <div class="footer-component__head">
    <div class="footer-component__logos">
      <a class="footer-component__logos__firetracker" href="#">
        <img src="/images/logo.svg">
      </a>
      <div class="footer-component__logos__pipe"></div>
      <a class="footer-component__logos__kpcc" href="/">
        <svg class="footer-component__logos__kpcc-image">
          <use class="" xlink:href="/images/scpr-sprite.svg#logo_kpcc-white"/>
        </svg>
      </a>
    </div>
    <a class="footer-component__call-to-action" href="https://scprcontribute.scpr.org/">
      <img class="footer-component__call-to-action__icon" src="/images/icons/donate.svg">
      <span class="footer-component__call-to-action__text">Support the voices you trust. <b>Donate&nbsp;now.</b></span>
    </a>
  </div>
  <nav class="footer-component__foot">
    <a class="footer-component__foot-item footer-component__foot__link footer-component__foot-item footer-component__foot__link--primary" href="/terms/">About Fire Tracker</a>
    <a class="footer-component__foot-item footer-component__foot__link" href="/terms/">Terms &amp; Conditions</a>
    <a class="footer-component__foot-item footer-component__foot__link" href="/privacy/">Privacy</a>
    <a class="footer-component__foot-item footer-component__foot__link" href="/web_site_feedback/">Feedback</a>
    <span class="footer-component__foot-item">&copy; 2017 Southern California Public Radio</span>
  </nav>
  {{!-- RE ENABLE BELOW WHEN NEEDED --}}
{{!--   <div class="footer-component__foot__primary-support">
    <span class="footer-component__foot__primary-support__heading">
      KPCC’S FIRE TRACKER IS SUPPORTED BY
    </span>
    <span class="footer-component__foot__primary-support__org">
      The Ford Foundation
    </span>
    <span class="footer-component__foot__primary-support__separator">
      //
    </span>
    <span class="footer-component__foot__primary-support__org">
      The James Irvine Foundation
    </span>
  </div>
  <hr class="footer-component__rule">
  <div class="footer-component__foot__secondary-support">
    <span class="footer-component__foot__secondary-support__heading">
      WITH ADDITIONAL SUPPORT FROM
    </span>
    <span class="footer-component__foot__secondary-support__org">
      Peter Yun Huh and Jihee Kim Huh
    </span>
  </div>
  <hr class="footer-component__rule">
  <div class="footer-component__foot__tertiary-support">
    <span class="footer-component__foot__tertiary-support__org">
      The John Randolph Haynes and Dora Haynes Foundation
    </span>
    <span class="footer-component__foot__tertiary-support__separator">
      //
    </span>
    <span class="footer-component__foot__tertiary-support__org">
      Sally Graves DeWitt
    </span>
  </div> --}}
</footer>

