<footer class="footer-component">
  <div class="footer-component__head">
    <div class="footer-component__logos">
      <a class="footer-component__logos__firetracker" href="#">
        <img src="/images/logo.svg">
      </a>
      <div class="footer-component__logos__pipe"></div>
      <a class="footer-component__logos__kpcc" href="/">
        <svg class="footer-component__logos__kpcc-image">
          <use class="" xlink:href="/images/scpr-sprite.svg#logo_kpcc-white"/>
        </svg>
      </a>
    </div>
    <a class="footer-component__call-to-action" href="https://scprcontribute.scpr.org/">
      <img class="footer-component__call-to-action__icon" src="/images/icons/donate.svg">
      <span class="footer-component__call-to-action__text">Support the voices you trust. <b>Donate&nbsp;now.</b></span>
    </a>
  </div>
  <nav>
    <ul class="footer-component__foot">
      <li><a class="footer-component__foot__link footer-component__foot__link--primary" href="/terms/">About Fire Tracker</a></li>
      <li><a class="footer-component__foot__link" href="/terms/">Terms &amp; Conditions</a></li>
      <li><a class="footer-component__foot__link" href="/privacy/">Privacy</a></li>
      <li><a class="footer-component__foot__link" href="/web_site_feedback/">Feedback</a></li>
      <li>&copy; 2017 Southern California Public Radio</li>
    </ul>
  </nav>
</footer>
