<div class="footer-component__head">
  <div class="footer-component__logos">
    {{#link-to 'index' class="footer-component__logos__firetracker"}}
      <img src="/images/logo.svg">
    {{/link-to}}
    <div class="footer-component__logos__pipe"></div>
    <a class="footer-component__logos__kpcc" href="https://www.scpr.org/" target="_blank">
      <object class="kpcc-laist-logos" data="/images/kpcc-laist-logo-orange.svg" type="image/svg+xml" />
    </a>
  </div>
  <a class="footer-component__call-to-action" href="https://scprcontribute.scpr.org/">
    <img class="footer-component__call-to-action__icon" src="/images/icons/donate.svg">
    <span class="footer-component__call-to-action__text">Support the voices you trust. <b>Donate&nbsp;now.</b></span>
  </a>
</div>
<nav class="footer-component__foot">
  {{#link-to 'content' 'about-data' class="footer-component__foot-item footer-component__foot__link footer-component__foot-item footer-component__foot__link--primary"}}
    About Fire Tracker
  {{/link-to}}
  <a class="footer-component__foot-item footer-component__foot__link" href="https://scpr.org/terms/">Terms &amp; Conditions</a>
  <a class="footer-component__foot-item footer-component__foot__link" href="https://scpr.org/privacy/">Privacy</a>
  <a class="footer-component__foot-item footer-component__foot__link" href="https://scpr.org/web_site_feedback">Feedback</a>
  <span class="footer-component__foot-item">&copy; {{currentYear}} Southern California Public Radio</span>
</nav>
{{!-- RE ENABLE BELOW WHEN NEEDED --}}
{{!--   <div class="footer-component__foot__primary-support">
  <span class="footer-component__foot__primary-support__heading">
    KPCC’S FIRE TRACKER IS SUPPORTED BY
  </span>
  <span class="footer-component__foot__primary-support__org">
    The Ford Foundation
  </span>
  <span class="footer-component__foot__primary-support__separator">
    //
  </span>
  <span class="footer-component__foot__primary-support__org">
    The James Irvine Foundation
  </span>
</div>
<hr class="footer-component__rule">
<div class="footer-component__foot__secondary-support">
  <span class="footer-component__foot__secondary-support__heading">
    WITH ADDITIONAL SUPPORT FROM
  </span>
  <span class="footer-component__foot__secondary-support__org">
    Peter Yun Huh and Jihee Kim Huh
  </span>
</div>
<hr class="footer-component__rule">
<div class="footer-component__foot__tertiary-support">
  <span class="footer-component__foot__tertiary-support__org">
    The John Randolph Haynes and Dora Haynes Foundation
  </span>
  <span class="footer-component__foot__tertiary-support__separator">
    //
  </span>
  <span class="footer-component__foot__tertiary-support__org">
    Sally Graves DeWitt
  </span>
</div> --}}

