<h2 class="incident-search__heading b-heading b-heading--h2 b-heading--serif">Am I near a wildfire?</h2>

<input type="text" class="incident-search__input b-input__text" placeholder="Enter a zipcode, city or fire name here" />

