<a href="/" class="masthead-component__logo">
  <img src="/images/logo.svg">
</a>

<div class="masthead-component__spacer"></div>

<a class="masthead-component__parent-logo">
  <img src="/images/kpcc-logo.svg">
</a>

<div class="masthead-component__pipe"></div>

<a class="masthead-component__donate" href="#">
  <svg class="b-icon b-icon--size-med b-icon--left">
    <use class="masthead-component__donate__icon" xlink:href="/images/scpr-sprite.svg#icon_line-donate"/>
  </svg>
  <span class="masthead-component__donate__caption">Donate</span>
</a>

