{{#link-to 'index' class="masthead-component__logo"}}
  <img src="/images/logo.svg">
{{/link-to}}

<div class="masthead-component__spacer"></div>

<a class="masthead-component__parent-logo">
  <img class="masthead-component__parent-logo__img--full" src="/images/kpcc-logo.svg">
  <img class="masthead-component__parent-logo__img--mobile" src="/images/kpcc-logo-mobile.svg">
</a>

<div class="masthead-component__pipe"></div>

<a class="masthead-component__donate" href="#">
  <svg class="masthead-component__donate__icon">
    <use class="masthead-component__donate__icon__image" xlink:href="/images/scpr-sprite.svg#icon_line-donate"/>
  </svg>
  <span class="masthead-component__donate__caption">Donate</span>
</a>

