{{#link-to 'index' class="masthead-component__logo"}}
  <img src="/images/logo.svg">
{{/link-to}}

<div class="masthead-component__spacer"></div>

<a href="https://www.scpr.org/" class="masthead-component__parent-logo" target="_blank">
  <p class="masthead-component__parent-logo__img--full masthead-component__special-project">
    A special project from
  </p>
  <object class="masthead-component__parent-logo__img--full kpcc-laist-logos" data="/images/kpcc-laist-logo.svg" type="image/svg+xml" />
  <span class="masthead-component__parent-logo__built-by">Built by</span>
  <object class="masthead-component__parent-logo__img--mobile kpcc-laist-logos" data="/images/kpcc-laist-logo.svg" type="image/svg+xml" />
</a>

<div class="masthead-component__pipe"></div>

<a class="masthead-component__donate" href="https://scprcontribute.publicradio.org/" target="_blank">
  <svg class="masthead-component__donate__icon">
    <use class="masthead-component__donate__icon__image" xlink:href="/images/scpr-sprite.svg#icon_line-donate"/>
  </svg>
  <span class="masthead-component__donate__caption">Donate</span>
</a>

