<h6 class="season-stats__heading">Fire Season 2017</h6>
<div class="season-stats__item season-stats__item--warning">
  <div class="season-stats__item__icon"></div>
  <div class="season-stats__item__description">
    <span class="season-stats__item__figure">
      <span class="season-stats__item__figure-title">Fires this year:</span> 
      <span class="season-stats__item__figure-number">285</span>
    </span>
    <span class="season-stats__item__trend">
      About average
    </span>
  </div>
</div>
<div class="season-stats__item season-stats__item--danger">
  <div class="season-stats__item__icon"></div>
  <div class="season-stats__item__description">
    <span class="season-stats__item__figure">
      <span class="season-stats__item__figure-title">Acres Burned:</span> 
      <span class="season-stats__item__figure-number">1,000,000</span>
    </span>
    <span class="season-stats__item__trend">
      Above average
    </span>
  </div>
</div>
<p class="season-stats__note">
  Note about our methodology Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Curabitur consequat vel mauris sed consequat.
</p>

