<a href="/" class="share-icons__icon">
  <img src="/images/share/email.svg">
</a>
<a href="/" class="share-icons__icon">
  <img src="/images/share/facebook.svg">
</a>
<a href="/" class="share-icons__icon">
  <img src="/images/share/twitter.svg">
</a>

