<a href="{{mailtoHref}}" class="spread-icons__icon">
  <img class="spread-icons__icon-img" src="/images/share/email.svg">
</a>
<a href="{{facebookHref}}" class="spread-icons__icon" target="_blank">
  <img class="spread-icons__icon-img" src="/images/share/facebook.svg">
</a>
<a href="{{tweetHref}}" class="spread-icons__icon" target="_blank">
  <img class="spread-icons__icon-img" src="/images/share/twitter.svg">
</a>

