<h4 class="story-list__heading b-heading b-heading--h4 b-heading--bold">Recent KPCC Coverage</h4>
<div class="story-list__card">
  <figure class="story-list__card__figure c-figure c-figure--widescreen">
    <img class="c-figure__img" src="/images/fallback.png" style="background-image: url(/images/fallback.png);">
  </figure>
  <h5 class="story-list__card__heading b-heading b-heading--h5">How fire prevention can be a flammable affair</h5>
  <span class="story-list__card__date">August 1</span>
</div>
<div class="story-list__card">
  <figure class="story-list__card__figure c-figure c-figure--widescreen">
    <img class="c-figure__img" src="/images/fallback.png" style="background-image: url(/images/fallback.png);">
  </figure>
  <h5 class="story-list__card__heading b-heading b-heading--h5">Crews stop spread of huge California wildfire near Yosemite</h5>
  <span class="story-list__card__date">July 23</span>
</div>
<div class="story-list__card">
  <figure class="story-list__card__figure c-figure c-figure--widescreen">
    <img class="c-figure__img" src="/images/fallback.png" style="background-image: url(/images/fallback.png);">
  </figure>
  <h5 class="story-list__card__heading b-heading b-heading--h5">'Complete devastation' for some near Detwiler wildfire</h5>
  <span class="story-list__card__date">July 22</span>
</div>
<div class="story-list__card">
  <figure class="story-list__card__figure c-figure c-figure--widescreen">
    <img class="c-figure__img" src="/images/fallback.png" style="background-image: url(/images/fallback.png);">
  </figure>
  <h5 class="story-list__card__heading b-heading b-heading--h5">Detwiler Fire's growth is stunted, but 50 homes destroyed</h5>
  <span class="story-list__card__date">July 21</span>
</div>