// @import "src/styles/index"
@import "./vars"
@import "./global"
@import "./mixins"
@import "./themes/dark"

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

// @import "pod-styles"
@import "./component-styles/masthead-component"
@import "./component-styles/footer-component"
@import "./component-styles/h-rule"
@import "./component-styles/fire-search"
@import "./component-styles/featured-incidents"
@import "./component-styles/season-stats"
@import "./component-styles/incidents-grid"

@import "./component-styles/fire-header"
@import "./component-styles/share-icons"
@import "./component-styles/fire-description"
@import "./component-styles/important-facts"
@import "./component-styles/tweets-slider"
@import "./component-styles/pointy-hat"
@import "./component-styles/i-have-questions"
@import "./component-styles/additional-details"
@import "./component-styles/content-heading"
@import "./component-styles/content-article"
@import "./component-styles/list-aside"
@import "./component-styles/c-figure"
@import "./component-styles/recent-fires"
@import "./component-styles/notification-component"
@import "./component-styles/time-series"
@import "./component-styles/air-quality-aside"
@import "./component-styles/faq-list"
@import "./component-styles/fire-embed"

@import "./layout/index"
@import "./layout/fire"
@import "./layout/content"
@import "./layout/archive"
@import "./layout/map"
@import "./layout/embed"
// @import "./testing-style"

.leaflet-bar-timecontrol
  display: none

.o-footer
  position: relative
  z-index: 2

.list-aside
  li
    margin-bottom: $unit-in-pixels

@media (max-width: $l-sm-breakpoint)
  #l-masthead
    @include masthead-component--sm

  #l-footer
    @include footer-component--sm

