.important-facts__heading
  color: $color-gray
  font-size: 26px
  font-weight: 500
  margin: 0 0 1em
  text-transform: uppercase

.important-facts__item
  margin-bottom: $unit-in-pixels * 2

.important-facts__item:last-child
  margin-bottom: 0px

.important-facts__item__heading
  font-family: $font-serif-titling
  font-size: 26px
  font-weight: 700
  margin: 0 0 1em

.important-facts__item__status
  align-items: center
  display: block
  display: flex

.important-facts__item__status__boolean
  float: left
  font-size: 42px
  font-weight: 700
  line-height: 1
  margin-right: 15px

.important-facts__item__status__yes
  color: #F74623

.important-facts__item__status__no
  color: #51A53F

.important-facts__item__status__description
  line-height: 1

.important-facts__item__link
  color: $color-primary
  
.important-facts__item__link:hover
  @include link-underline($color-primary, $color-white)

.important-facts__item__note
  clear: both
  font-size: 15px
  font-style: italic
  line-height: 1.466666667em
  margin-top: 25px


@mixin important-facts--sm
  .important-facts__item
    margin-bottom: $unit-in-pixels * 1
  .important-facts__item:last-child
    margin-bottom: 0px
  .important-facts__heading, .important-facts__item__heading
    font-size: 18px
  .important-facts__heading
    line-height: 1
    margin-bottom: $unit-in-pixels * 0.7
  .important-facts__item__heading
    font-size: 23px