.incidents-grid
  display: flex
  flex-wrap: wrap
  // justify-content: center
  // margin-right: -$gutter

.incidents-grid__heading
  color: $color-gray
  font-family: $font-sans-base
  font-size: 26px
  font-weight: 500
  margin: 0 0 1em
  text-transform: uppercase
  width: 100%

.incidents-grid__card, .incidents-grid__link-card, .incidents-grid__spacer
  display: flex
  flex-basis: ($col * 2) + ($gutter * 2)
  flex-direction: column
  // justify-content: center
  margin-bottom: $row
  margin-right: $gutter

.incidents-grid__card, .incidents-grid__link-card
  min-height: $row * 4

.incidents-grid__card__heading
  color: $color-primary
  font-family: $font-serif-titling
  font-size: 18px
  font-weight: 400
  margin: 0 0 1em

.incidents-grid__link-card
  justify-content: center
  > a
    margin-bottom: 0

.incidents-grid__spacer
  height: 0px
  margin-bottom: 0px

.incidents-grid__card:after
  background-color: #F3AA27
  content: ""
  display: none
  height: ($row * 4) - 2px
  position: absolute
  margin-left: ($col * 2) + ($gutter * 2)
  margin-top: 15px
  width: 1px

.incidents-grid__card__heading-text
  @include link-effect($color-primary, $t-dark-color-background);

.incidents-grid__card__item
  display: flex
  align-items: center
  margin-bottom: 5px

.incidents-grid__card .incidents-grid__card__item:before
  display: inline-block
  content: ""
  height: 15px
  margin-right: 10px
  width: 15px

.incidents-grid__card__list
  font-size: 13px
  line-height: 1.466666667em

.incidents-grid__card .incidents-grid__card__item:nth-child(1):before
  background: url('/images/icons/calendar-sm.svg')

.incidents-grid__card .incidents-grid__card__item:nth-child(2):before
  background: url('/images/icons/pin-sm.svg')

.incidents-grid__card .incidents-grid__card__item:nth-child(3):before
  background: url('/images/icons/map-sm.svg')

.incidents-grid__card .incidents-grid__card__item:nth-child(4):before
  background: url('/images/icons/firetruck-sm.svg')

@mixin incidents-grid--justify-center
  // :notsure:
  justify-content: center

@mixin incidents-grid--xl
  // min-width: ($col * 10) + ($gutter * 9)
  width: ($col * 10) + ($gutter * 10)
  .incidents-grid__card:after
    display: block
  .incidents-grid__card:nth-child(4n + 1):after
    display: none

@mixin incidents-grid--lg
  min-width: ($col * 7) + ($gutter * 8)
  width: ($col * 7) + ($gutter * 8)
  .incidents-grid__card:after
    display: block
  .incidents-grid__card:nth-child(3n + 1):after
    display: none
  .incidents-grid__card:nth-child(4n + 1):after
    display: block
  .incidents-grid__card:nth-child(6n + 1):after
    display: none


@mixin incidents-grid--med
  min-width: ($col * 5) + ($gutter * 5)
  width: ($col * 5) + ($gutter * 5)
  .incidents-grid__card:after
    display: block
  .incidents-grid__card:nth-child(3n + 1):after
    display: block
  .incidents-grid__card:nth-child(2n + 1):after
    display: none


@mixin incidents-grid--sm
  min-width: ($col * 3) + ($gutter * 2)
  width: ($col * 3) + ($gutter * 2)
  .incidents-grid__heading
    font-size: 23px
  .incidents-grid__card:after
    display: none
  .incidents-grid__card:nth-child(2n + 1):after
    display: none
  .incidents-grid__card:nth-child(3n + 1):after
    display: none
  .incidents-grid__card:nth-child(2n + 1):after
    display: none
  .incidents-grid__card:nth-child(4n + 1):after
    display: none
  .incidents-grid__card
    height: initial
    .incidents-grid__card__list
      display: flex
      li:nth-child(1), li:nth-child(3)
        display: none
      li:nth-child(2)
        border-right: 1px solid gray
        margin-right: 6px
        padding-right: 6px
  .incidents-grid__card, .incidents-grid__link-card
    min-height: unset
    min-height: initial
  .incidents-grid__card .incidents-grid__card__item:before
    display: none

@mixin incidents-grid--alt
  .incidents-grid__heading
    display: none

