.content-article
  font-family: $font-sans-base
  font-size: 18px
  line-height: 30px

.content-article .c-figure, .content-article__lede, .content-article__paragraph
  margin-bottom: $unit-in-pixels

.content-article__lede
  font-size: 22px

@mixin content-article--sm
  .content-article__lede
    font-size: 20px