.incidents-grid
  display: flex
  flex-wrap: wrap
  margin-right: -$gutter-in-pixels

.incidents-grid__heading
  width: 100%

.incidents-grid__card, .incidents-grid__link-card, .incidents-grid__spacer
  display: flex
  flex-basis: ($col-in-pixels * 2) + ($gutter-in-pixels * 2)
  flex-direction: column
  justify-content: center
  margin-bottom: $unit-in-pixels
  margin-right: $gutter-in-pixels
  height: $unit-in-pixels * 4

.incidents-grid__spacer
  height: 0px
  margin-bottom: 0px

.incidents-grid__card:after
  background-color: #F3AA27
  content: ""
  display: none
  height: ($unit-in-pixels * 4) - 2px
  position: absolute
  margin-left: ($col-in-pixels * 2) + ($gutter-in-pixels * 2)
  width: 1px

.incidents-grid__card__heading-text:hover
  @include link-underline($color-primary, $t-dark-color-background);

.incidents-grid__card__item
  display: flex
  align-items: center
  margin-bottom: 5px

.incidents-grid__card .incidents-grid__card__item:before
  display: inline-block
  content: ""
  height: 15px
  margin-right: 10px
  width: 15px

.incidents-grid__card .incidents-grid__card__item:nth-child(1):before
  background: url('/images/icons/calendar-sm.svg')

.incidents-grid__card .incidents-grid__card__item:nth-child(2):before
  background: url('/images/icons/pin-sm.svg')

.incidents-grid__card .incidents-grid__card__item:nth-child(3):before
  background: url('/images/icons/map-sm.svg')

.incidents-grid__card .incidents-grid__card__item:nth-child(4):before
  background: url('/images/icons/firetruck-sm.svg')

@mixin incidents-grid--xl
  min-width: ($col-in-pixels * 10) + ($gutter-in-pixels * 9)
  width: ($col-in-pixels * 10) + ($gutter-in-pixels * 9)
  .incidents-grid__card:after
    display: block
  .incidents-grid__card:nth-child(4n + 1):after
    display: none

@mixin incidents-grid--lg
  min-width: ($col-in-pixels * 7) + ($gutter-in-pixels * 8)
  width: ($col-in-pixels * 7) + ($gutter-in-pixels * 8)
  .incidents-grid__card:after
    display: block
  .incidents-grid__card:nth-child(3n + 1):after
    display: none
  .incidents-grid__card:nth-child(4n + 1):after
    display: block


@mixin incidents-grid--med
  min-width: ($col-in-pixels * 5) + ($gutter-in-pixels * 5)
  width: ($col-in-pixels * 5) + ($gutter-in-pixels * 5)
  .incidents-grid__card:after
    display: block
  .incidents-grid__card:nth-child(3n + 1):after
    display: block
  .incidents-grid__card:nth-child(2n + 1):after
    display: none


@mixin incidents-grid--sm
  min-width: ($col-in-pixels * 3) + ($gutter-in-pixels * 2)
  width: ($col-in-pixels * 3) + ($gutter-in-pixels * 2)
  .incidents-grid__card:after
    display: none
  .incidents-grid__card:nth-child(2n + 1):after
    display: none
  .incidents-grid__card:nth-child(3n + 1):after
    display: none
  .incidents-grid__card:nth-child(2n + 1):after
    display: none
  .incidents-grid__card:nth-child(4n + 1):after
    display: none
  .incidents-grid__card
    height: initial
    .incidents-grid__card__list
      display: flex
      li:nth-child(1), li:nth-child(3)
        display: none
      li:nth-child(2)
        border-right: 1px solid gray
        margin-right: 6px
        padding-right: 6px
  .incidents-grid__card .incidents-grid__card__item:before
    display: none



