#l-home__masthead
  @include masthead-component--alt

#l-home__search
  height: $row * 16
  padding-bottom: $row * 4
  padding-top: $row * 3
  width: 100%

#l-home__main
  @include skew(1.4deg)
  margin-top: -48px
  padding-top: $row
  padding-bottom: $row

#l-home__main > *
  margin-bottom: $row

#l-home__main__content
  display: block
  display: flex
  flex-wrap: wrap
  flex-shrink: 0
  // justify-content: center
  overflow: hidden
  margin-left: auto
  margin-right: auto
  padding-left: $l-margin-size
  padding-right: $l-margin-size
  width: $l-lg-size + ($l-margin-size * 2)
  @media (max-width: $l-lg-breakpoint)
    width: $l-med-size + ($l-margin-size * 2)
    #l-home__featured-incidents
      @include featured-incidents--lg
  @media (max-width: $l-med-breakpoint)
    width: $l-sm-size
    #l-home__featured-incidents
      @include featured-incidents--sm
      margin-bottom: $row * 2
    #l-home__main__content__right-aside
      display: flex
      justify-content: space-between
    #l-home__season-stats
      margin-right: $gutter
  @media (max-width: $l-sm-breakpoint)
    max-width: $l-xs-size
    width: 100%
    #l-home__season-stats, .l-home__resources-list
      width: initial

  @media (max-width: $l-xs-breakpoint)
    #l-home__featured-incidents
      @include featured-incidents--xs
    .l-home__resources-list
      display: none
    #l-home__season-stats
      margin-right: 0px

#l-home__featured-incidents, #l-home__season-stats
  overflow: hidden

#l-home__featured-incidents
  float: left
  margin-right: $gutter
  order: -1
  max-width: ($col * 7) + ($gutter * 6)

#l-home__main__content__right-aside
  display: block
  float: right
  position: relative

#l-home__season-stats, .l-home__resources-list
  clear: both
  width: ($col * 3) + ($gutter * 2)

#l-home__season-stats
  margin-bottom: $row * 2

#l-home__faq-list
  display: block
  overflow: hidden
  margin-left: auto
  margin-right: auto
  margin-bottom: $row
  padding-left: $l-margin-size
  padding-right: $l-margin-size
  padding-top: $row * 1.5
  width: $l-lg-size + ($l-margin-size * 2)
  @media (max-width: $l-lg-breakpoint)
    width: $l-med-size + ($l-margin-size * 2)
  @media (max-width: $l-med-breakpoint)
    @include faq-list--sm
    width: $l-sm-size
  @media (max-width: $l-sm-breakpoint)
    max-width: $l-xs-size
    width: 100%

.l-home__resources-list-2
  display: none
  overflow: hidden
  margin-left: auto
  margin-right: auto
  margin-top: $row * 2
  padding-left: $l-margin-size
  padding-right: $l-margin-size
  @media (max-width: $l-sm-breakpoint)
    display: block
    max-width: $l-xs-size
    width: 100%

#l-home__recent-incidents
  @include skew(-1.4deg)
  background-color: #222628
  display: flex
  justify-content: center
  margin-bottom: -$row
  margin-left: auto
  margin-right: auto
  min-height: 100px
  overflow: hidden
  padding-top: $row * 2
  padding-bottom: $row * 2 
  width: 100%
  #l-home__recent-incidents__container
    display: block
    overflow: hidden
    margin-left: auto
    margin-right: auto
    padding-left: $l-margin-size
    padding-right: $l-margin-size
    width: $l-lg-size + ($l-margin-size * 2)
    .incidents-grid
      @include incidents-grid--xl
    @media (max-width: $l-lg-breakpoint)
      width: $l-med-size + ($l-margin-size * 2)
      .incidents-grid
        @include incidents-grid--lg
    @media (max-width: $l-med-breakpoint)
      width: $l-sm-size
      .incidents-grid
        @include incidents-grid--med
    @media (max-width: $l-sm-breakpoint)
      max-width: $l-xs-size
      .incidents-grid
        @include incidents-grid--sm


