{{#name}}
## Class: {{name}}
{{/name}}
{{#deprecated}}

**Deprecated:** {{{deprecated}}}
{{/deprecated}}
{{#description}}

{{{description}}}
{{/description}}

***

{{#members.length}}
### Properties

| name | type | description |
|------|------|-------------|{{/members.length}}{{#members}}
| {{#optional}}***{{name}}***{{/optional}}{{^optional}}**{{name}}**{{/optional}} | {{#typesString}}`{{typesString}}`{{/typesString}} | {{#description}}{{{description}}}{{/description}} |{{/members}}
{{#members.length}}

***

{{/members.length}}
{{#methods.length}}
### Methods
{{#methods}}
{{> function-link}}
{{/methods}}

***

{{#methods}}
### {{name}}({{#paramsString}}{{paramsString}}{{/paramsString}}) {{#version}}{{version}}{{/version}} &#x21e8; {{#returns}}{{#typesString}}`{{typesString}}`{{/typesString}}{{/returns}}{{^returns.length}}`undefined`{{/returns.length}}
{{> function}}
{{/methods}}
{{/methods.length}}

