{{outlet}}
<footer id="l-footer" class="footer-component o-footer">
  <div class="footer-component__head o-footer__head l-section--margin-sm">
    <div class="footer-component__logos">
      <a class="footer-component__logos__firetracker" href="#">
        <img src="/images/logo.svg">
      </a>
      <div class="footer-component__logos__pipe"></div>
      <a class="footer-component__logos__kpcc" href="/">
        <svg class="o-footer__logo b-icon--left">
          <use class="" xlink:href="/images/scpr-sprite.svg#logo_kpcc-white"/>
        </svg>
      </a>
    </div>
    <a class="footer-component__call-to-action o-footer__call-to-action" href="https://scprcontribute.scpr.org/">
      <svg class="b-icon b-icon--size-med b-icon--left">
        <use class="b-icon--line b-icon--color-white" xlink:href="/images/scpr-sprite.svg#icon_line-donate"/>
      </svg>
      <span class="link link--white-dark-bg text">Support the voices you trust. <b class="text--semibold">Donate&nbsp;now.</b></span>
    </a>
  </div>
  <nav>
    <ul class="footer-component__foot c-list--horiz b-text b-text--small u-text-color--gray">
      <li><a class="b-link b-link--gray-dark-bg b-text--color-primary" href="/terms/">About Fire Tracker</a></li>
      <li><a class="b-link b-link--gray-dark-bg" href="/terms/">Terms &amp; Conditions</a></li>
      <li><a class="b-link b-link--gray-dark-bg" href="/privacy/">Privacy</a></li>
      <li><a class="b-link b-link--gray-dark-bg" href="/web_site_feedback/">Feedback</a></li>
      <li>&copy; 2017 Southern California Public Radio</li>
    </ul>
  </nav>
</footer>

