{{masthead-component id="l-masthead"}}
<div id="l-archive">

  {{incident-search id="l-archive__search" heading="Search the archives" background="/images/backgrounds/archive.png"}}

  <div id="l-archive__grid" class="t-dark">
    <div id="l-archive__grid__container">
      {{incidents-grid fires=model}}
    </div>
  </div>

</div>

