{{masthead-component id="l-masthead"}}
<main id="l-content">
  {{share-icons id="l-content__share-icons"}}

  <h3 id="l-content__heading" class="content-heading">When you’re asked to evacuate your home or business</h3>

  {{c-figure widescreen=true caption='Artists say they are getting pushed out of neighborhoods they made popular. Painter Jett Jackson sits in her 275-square-foot live and work space in the Arts District in 2015.' attribution='MAYA SUGARMAN/KPCC' id="l-content__figure"}}


  <hr id="l-content__rule" class="b-rule b-rule--primary">

  <div id="l-content__asides">
    <aside id="l-content__faq-list list-aside">
      <h4 class="list-aside__heading">Fire FAQs</h4>
      <ul class="c-list c-list--vert">
        <li>What can I do to prepare for wildfire season?</li>
        <li>How can I protect my pets?</li>
        <li>How can I check the air qality?</li>
        <li>What should I do to keep myself safe from wildfire smoke?</li>
        <li>The air is brown with wildfire smoke – should I wear a mask?</li>
        <li>What kind of things influence wildfire behavior?</li>
        <li>I’ve just been asked to evacuate – what should I do?</li>
      </ul>
    </aside>
    <aside id="l-content__resources-list list-aside">
      <h4 class="list-aside__heading">California fire resources</h4>
      <ul class="c-list c-list--vert">
        <li>Cal Fire</li>
        <li>California Fire and Resource Assessment Program (FRAP)</li>
        <li>California Incident Information System</li>
        <li>Northern California Geographic Area Coordination Center (ONCC)</li>
        <li>L.A. Fire Department</li>
      </ul>
    </aside>
    <aside id="l-content__recent-fires-list recent-fires list-aside">
      <h4 class="recent-fires__heading list-aside__heading">Recent Fires</h4>
      <ul class="recent-fires__list c-list c-list--vert">
        <li class="recent-fires__list__item">
          <h6 class="recent-fires__list__item__heading">Rose Fire</h6>
          <div class="recent-fires__list__item__stats">
            <span class="recent-fires__list__item__date">
              Aug 31
            </span>
            <span class="recent-fires__list__item__pipe">
              |
            </span>
            <span class="recent-fires__list__item__acres">
              1,000,000
            </span>
          </div>
        </li>
        <li class="recent-fires__list__item">
          <h6 class="recent-fires__list__item__heading">Rose Fire</h6>
          <div class="recent-fires__list__item__stats">
            <span class="recent-fires__list__item__date">
              Aug 31
            </span>
            <span class="recent-fires__list__item__pipe">
              |
            </span>
            <span class="recent-fires__list__item__acres">
              1,000,000
            </span>
          </div>
        </li>
        <li class="recent-fires__list__item">
          <h6 class="recent-fires__list__item__heading">Rose Fire</h6>
          <div class="recent-fires__list__item__stats">
            <span class="recent-fires__list__item__date">
              Aug 31
            </span>
            <span class="recent-fires__list__item__pipe">
              |
            </span>
            <span class="recent-fires__list__item__acres">
              1,000,000
            </span>
          </div>
        </li>
      </ul>
    </aside>
  </div>

  
  <article id="l-content__article" class="content-article">
    <p class="content-article__lede">
      If by chance you are near a wildfire, you may be asked to evacuate. Here are some things you should know if you find yourself in that situation:
    </p>

    <p class="content-article__paragraph">What should I have prepared before I have to evacuate?</p>

    <p class="content-article__paragraph">If you’re in a fire-prone area, you should have a few things prepared at all times: an evacuation plan checklist and an emergency supply kit.</p>

    <p class="content-article__paragraph">The evacuation checklist should include:</p>

    <p class="content-article__paragraph">Make sure all windows and doors are closed and unlocked. Seal any vents in the ground or attic so that air can’t get through
    Move all flammable items (including furniture, curtains, window shades, mats and toys) to the center of the room, away from windows and doors
    Shut off gas at the meter, and turn off propane tanks, pilot lights and air conditioning
    Leave interior and exterior lights on so that your house remains visible to firefighters through dark or smoky conditions
    Connect garden houses to outside water valves or spigots so that firefighters can use them. Don’t leave the sprinklers on, as they might affect water pressure
    The emergency supply kit should include things like a first aid kit, a three-day supply of non-perishable food and three gallons of water per person, spare keys and cash. If time allows, then you should pack easily carried valuables, chargers for your cell phones and laptops, and anything irreplaceable such as family photos.</p>

    <p class="content-article__paragraph">I have to go, what do I need to do?</p>

    <p class="content-article__paragraph">When the need to evacuate arises:</p>

    <p class="content-article__paragraph">Go through your evacuation plan checklist and do whatever you can in the time allowed.
    Make sure your emergency supply kit is in your vehicle.
    Cover-up to protect against heat and flying embers. Wear long pants, long sleeve shirt, heavy shoes/boots, cap, dry bandanna for face cover, goggles or glasses. 100 percent cotton is preferable.
    Locate your pets and take them with you.
    When should I leave?</p>

    <p class="content-article__paragraph">It is wise to leave the area as soon as an evacuation is recommended. This will help you avoid being caught in a fire, smoke or traffic. This will also help firefighters keep roads clear, which allows them to work without obstacles. The terms "Voluntary" and "Mandatory" are used to describe evacuation orders. Some jurisdictions may use other terms. Regardless, they are used to alert the public to the significance of the danger. All evacuation instructions provided by officials should be followed immediately for your safety.</p>

    <p class="content-article__paragraph">If you feel immediately threatened by fire conditions, there’s no need to wait for an evacuation order to leave.</p>

    <p class="content-article__paragraph">Where should I go?</p>

    <p class="content-article__paragraph">Call up some friends or family who live outside the threatened area and see if they can offer you a place to stay during the evacuation. You can also find a designated public shelter by texting SHELTER + your ZIP code to 43362 to find the nearest shelter in your area.</p>

    <p class="content-article__paragraph">What about my cat, dog, bird, lizard, etc.?</p>

    <p class="content-article__paragraph">Ask friends and family if they can shelter your animals during an emergency. Keep a list of 24-hour numbers for pet-friendly places such as animal shelters, pet boarding facilities and veterinarians. Make sure you have identification and medical records on hand for your pets.</p>

    <p class="content-article__paragraph">If you have livestock, clear space around your barns or pastures. Try to contact local fairgrounds, stockyards, equestrian centers and other locations to see where you can shelter your livestock temporarily during the emergency. Take vaccination and medical records with you, along with enough feed, hay, water, harnesses, medications and a first-aid kit to last at least three days.</p>

    <p class="content-article__paragraph">What should I wear?</p>

    <p class="content-article__paragraph">If you need to go outside while there an active fire nearby, then put on some protective clothing like sturdy shoes, cotton or woolen clothes, long pants, a long-sleeved shirt and gloves.  You should also carry a handkerchief to protect your face and avoid breathing in the contaminated air.</p>

    <p class="content-article__paragraph">When You Return</p>

    <p class="content-article__paragraph">Watch for power lines and other hazards.
    Check propane tanks, regulators, and lines before turning gas on.
    Check your home for embers or smoldering areas.
    The evacuation advice here was collected from CalFire's Ready for Wildfire website. Pet fire safety was collected from Red Cross’ webpage about disaster plans for pets.</p>
  </article>


</main>