{{#fire-map lat=model.lat lng=model.long zoom=14 id="l-map__fire-map" timeDimension=true loop=true zoomControl=false attributionControl=false}}
  {{tile-layer url="https://api.mapbox.com/styles/v1/kbriggs/cj8m2vtqn1j4w2rpmy9bi0ga2/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2JyaWdncyIsImEiOiJjajg2NHpxMmcwc2I4MzJwZGZyNTU2dTU2In0.sJblWZzx_-6PmOYVVjPfLQ" reuseTiles=true detectRetina=true}}
  {{#if model.perimeter}}
    {{#time-series geoJSON=model.perimeter fill=true color='#F87E21' fillColor='#FF6B00' weight=0 fillOpacity=1 transitionDuration=2000}}
    {{/time-series}}
  {{/if}}
  {{#if model.perimeter}}
  {{else}}
    {{#marker-layer location=model.latLong icon=model.markerIcon}}
      {{#popup-layer}}
        <h3>{{model.name}}</h3>
      {{/popup-layer}}
    {{/marker-layer}}
  {{/if}}
{{/fire-map}}

