<div id="l-not-found" class="not-found">
  <div id="l-not-found__message" class="not-found__message">
    <h3 class="not-found__heading">
      404: PAGE NOT FOUND
    </h3>
    <div class="not-found__description">
      Sorry, we couldn't find the page you're looking for. You might try starting over at Fire Tracker's home page or viewing one of the recent fires below.
    </div>
  </div>
  {{partial 'archive'}}
</div>

